<div class="row">
  <div class="col-md-12">
    <div class="jumbotron category-form-dark space-a">
      <div class="">
        <%= simple_form_for([@article, @comment] ) do |f| %>
         <%= f.error_notification %>
          <div class="from-group row">
            <%= f.input :body, label: false, :input_html => { class:"ckeditor" } %>
          </div>&nbsp;
          <div class="from-group row">
            <div class="container text-center">
              <%= f.button :submit, "Comentar",  class: "btn btn-info col-md-3" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
