<h1 class="text-center">Editar Articulo</h1>
<div class="container">
  <div class="">
    <%= render "formulario" , article: @article %>
  </div>
  <%= link_to "Atras" , article_path(@article) %>
</div>
