/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $title:   #000;
 $fondo:   #f9f9f9;
 $color-a: #F3F2B4;
 $color-b: #FFF;
 $color-c: #F48060;
 $color-d: #C02727;
 $color-e: #CCFFFF;
 $search-title: #336633;
 $search-body: #669900;
 $colors: (
   title:   $title,
   fondo:   $fondo,
   jumbotron: #F3F2B4,
   color-a: $color-a,
   color-b: $color-b,
   color-c: $color-c,
   color-d: $color-d,
   color-e: $color-e
 );
body{
  background-color: $fondo;
}
@each $color_name, $color in $colors{
  .#{$color-name}{
    background-color: $color !important;
  }
  .#{$color-name}-text{
    color: $color !important;
  }
}
nav{
  margin-bottom: 10px;
}

.search-title{
  font-size: 48px !important;
  color: $search-title;
}
.search-body{
  color: $search-body;
}

.space-a{
  margin-top: 15px;
}
.space-title{
  padding-top: 20px !important;
  padding-bottom: 40px !important;
}
.space-label-right{
    padding: 15px;
}
.form-title{
  font-style: bold;
}
.col-form-label{
  font-style: italic;
  font-size: 18px;
}
.bueno{
  color: white !important;
}
.salto{
  margin-bottom: 10px;
}
