// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category-show{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
@media (min-width: 576px) {
  .jumbotron {
    padding: 5rem 4rem !important;
  }
}
.Espace-Table{
  margin-top: 10px;
}
