<style type="text/css" media="screen">
  <%= ".#{category.color}" %>{
    background: <%= category.color %> !important;
  }
</style>
<div class="col-md-3">
  <div class="jumbotron <%= "#{category.color}" %>">
    <h2 class="text"><%= category.name %></h2>
  </div>
</div>
